  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ replace . "{Year}" now.Year | markdownify}}
  {{ end }}
  </footer>
  </div>
  </div>
  <script>
  (function() {
    let tswitch = document.querySelector('#color-theme-switch');
    tswitch.checked = !!sessionStorage.getItem('color-theme-switch-checked');
    tswitch.addEventListener('change', function(){
      sessionStorage.setItem('color-theme-switch-checked', tswitch.checked? 'sure': '');
    });
  })()
  </script>
  </body>
</html>
