<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <input type="checkbox" id="color-theme-switch">
    <div id="color-theme-container">
    <div id="color-theme-body">
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <div id="color-theme-switch-div">
      <label id="color-theme-switch-label" for="color-theme-switch"></label>
    </div>
    <hr/>
    </nav>
    <script>
    (function() {
      let tswitch = document.querySelector('#color-theme-switch');
      tswitch.checked = !!sessionStorage.getItem('color-theme-switch-checked');
      tswitch.addEventListener('change', function(){
	sessionStorage.setItem('color-theme-switch-checked', tswitch.checked? 'sure': '');
      });
    })()
    </script>
